In [4]:
#opening the text file, read line by line , list each line with splitline breaks 
text_file = open('/census.txt') 
line_list = text_file.read().splitlines() 
text_file.close()

In [7]:
with open('/census.txt', 'rt')as f:
  line_list=f.readlines()

In [8]:
for row in line_list:
  print(row)

﻿Source: https://www.genealogybranches.com/censuscosts.html

Census Year        Total Population        Census Cost        Average Cost Per Person

1790        3,929,214        $44,377        1.13 cents

1800        5,308,483        $66,109        1.24 cents

1810        7,239,881        $178,445        2.46 cents

1820        9,633,822        $208,526        2.16 cents

1830        12,866,020        $378,545        2.94 cents

1840        17,069,458        $833,371        4.88 cents

1850        23,191,876        $1,423,351        6.14 cents

1860        31,443,321        $1,969,377        6.26 cents

1870        38,558,371        $3,421,198        8.87 cents

1880        50,155,783        $5,790,678        11.54 cents

1890        62,979,766        $11,547,127        18.33 cents

1900        76,303,387        $11,854,000        15.54 cents

1910        91,972,266        $15,968,000        17.07 cents

1920        105,710,620        $25,117,000        23.76 cents

1930        122,775,046        $40,156,000        32.71 cents

1940        131,669,275        $67,527,000        51.29 cents

1950        151,325,798        $91,462,000        60.44 cents

1960        179,323,175        $127,934,000        71.34 cents

1970        203,302,031        $247,653,000        $1.22

1980        226,542,199        $1,078,488,000        $4.76

1990        248,718,301        $2,492,830,000        $10.02

2000        281,421,906        $4.5 Billion        $15.99

2010*        308,745,538        $13 Billion        $42.11

In [9]:
top2_list = line_list[0:2]
top2_list

['\ufeffSource: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year        Total Population        Census Cost        Average Cost Per Person\n']

In [10]:
data_list = line_list[2:25]
print("data_list", data_list)

data_list ['1790        3,929,214        $44,377        1.13 cents\n', '1800        5,308,483        $66,109        1.24 cents\n', '1810        7,239,881        $178,445        2.46 cents\n', '1820        9,633,822        $208,526        2.16 cents\n', '1830        12,866,020        $378,545        2.94 cents\n', '1840        17,069,458        $833,371        4.88 cents\n', '1850        23,191,876        $1,423,351        6.14 cents\n', '1860        31,443,321        $1,969,377        6.26 cents\n', '1870        38,558,371        $3,421,198        8.87 cents\n', '1880        50,155,783        $5,790,678        11.54 cents\n', '1890        62,979,766        $11,547,127        18.33 cents\n', '1900        76,303,387        $11,854,000        15.54 cents\n', '1910        91,972,266        $15,968,000        17.07 cents\n', '1920        105,710,620        $25,117,000        23.76 cents\n', '1930        122,775,046        $40,156,000        32.71 cents\n', '1940        131,669,275        $67,527,000        51.29 cents\n', '1950        151,325,798        $91,462,000        60.44 cents\n', '1960        179,323,175        $127,934,000        71.34 cents\n', '1970        203,302,031        $247,653,000        $1.22\n', '1980        226,542,199        $1,078,488,000        $4.76\n', '1990        248,718,301        $2,492,830,000        $10.02\n', '2000        281,421,906        $4.5 Billion        $15.99\n', '2010*        308,745,538        $13 Billion        $42.11']

In [11]:
year_list = [census.split()[0] for census in data_list]
del year_list[-1]
year_list.insert(23, str(2010))
print("year_list: ", year_list)

year_list:  ['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In [12]:
pop = [total_pop.split()[1] for total_pop in data_list]
pop_list = []
for pop1 in pop:
  pop2 = pop1.replace(',','')
  pop2 = int(pop2)
  pop_list.append(pop2)
print("pop_list: ", pop_list)

pop_list:  [3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

In [13]:
cost = [ccost.split()[2] for ccost in data_list]
cost_list = []
for cost1 in cost:
  cost2 = cost1.replace(",", '')
  cost3 = cost2.replace('$','')
  cost4 = cost3.replace('4.5','4500000000')
  cost5 = cost4.replace('13', '130000000000')
  cost6 = cost5.replace("Billion", '')
  cost_list.append(cost6)
print("cost_list: ",cost_list)

cost_list:  ['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '130000000000']

In [14]:
avg = [avg.split()[3] for avg in data_list]
del avg[22]
del avg[21]
avg.insert(21, str(15.99))
avg.insert(22, str(42.11))

avg2 = []
for i in avg:
  avg1 = i.replace("$", "")
  avg2.append(avg1)
print("avg2: ", avg2)

avg2:  ['1.13', '1.24', '2.46', '2.16', '2.94', '4.88', '6.14', '6.26', '8.87', '11.54', '18.33', '15.54', '17.07', '23.76', '32.71', '51.29', '60.44', '71.34', '1.22', '4.76', '10.02', '15.99', '42.11']

In [15]:
avg_list = []
for i in avg2[0:18]:
  i = float(i)
  avg3 = i/100
  avg4 = round(avg3, 4)
  avg4 = str(avg4)
  avg_list.append(avg4)
print("avg_list[0:18]: ", avg_list)

avg_list[0:18]:  ['0.0113', '0.0124', '0.0246', '0.0216', '0.0294', '0.0488', '0.0614', '0.0626', '0.0887', '0.1154', '0.1833', '0.1554', '0.1707', '0.2376', '0.3271', '0.5129', '0.6044', '0.7134']

In [16]:
for i in avg2[18:23]:
  avg5 = float(i)
  int_avg5 = int(avg5)
  dec_avg5 = avg5-int_avg5
  dollar_dec_avg5 = dec_avg5/100
  avg6 = int_avg5 + dollar_dec_avg5
  avg6 = str(avg6)
  avg_list.append(avg6)
  int_avg5 = 0
  dec_avg5 = 0
print("All avg_list: ", avg_list)

All avg_list:  ['0.0113', '0.0124', '0.0246', '0.0216', '0.0294', '0.0488', '0.0614', '0.0626', '0.0887', '0.1154', '0.1833', '0.1554', '0.1707', '0.2376', '0.3271', '0.5129', '0.6044', '0.7134', '1.0022', '4.0076', '10.0002', '15.0099', '42.0011']

In [17]:
cc1= []
for j in range(0,23):
    yl = str(year_list[j])
    pl = str(pop_list[j])
    cl = str(cost_list[j])
    al = str(avg_list[j])
    total =yl+'\t\t'+pl+'\t\t'+cl+'\t\t'+al+'\n' 
    cc1.append(total)
new_census_cost = top2_list + cc1 
print(new_census_cost)

['\ufeffSource: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year        Total Population        Census Cost        Average Cost Per Person\n', '1790\t\t3929214\t\t44377\t\t0.0113\n', '1800\t\t5308483\t\t66109\t\t0.0124\n', '1810\t\t7239881\t\t178445\t\t0.0246\n', '1820\t\t9633822\t\t208526\t\t0.0216\n', '1830\t\t12866020\t\t378545\t\t0.0294\n', '1840\t\t17069458\t\t833371\t\t0.0488\n', '1850\t\t23191876\t\t1423351\t\t0.0614\n', '1860\t\t31443321\t\t1969377\t\t0.0626\n', '1870\t\t38558371\t\t3421198\t\t0.0887\n', '1880\t\t50155783\t\t5790678\t\t0.1154\n', '1890\t\t62979766\t\t11547127\t\t0.1833\n', '1900\t\t76303387\t\t11854000\t\t0.1554\n', '1910\t\t91972266\t\t15968000\t\t0.1707\n', '1920\t\t105710620\t\t25117000\t\t0.2376\n', '1930\t\t122775046\t\t40156000\t\t0.3271\n', '1940\t\t131669275\t\t67527000\t\t0.5129\n', '1950\t\t151325798\t\t91462000\t\t0.6044\n', '1960\t\t179323175\t\t127934000\t\t0.7134\n', '1970\t\t203302031\t\t247653000\t\t1.0022\n', '1980\t\t226542199\t\t1078488000\t\t4.0076\n', '1990\t\t248718301\t\t2492830000\t\t10.0002\n', '2000\t\t281421906\t\t4500000000\t\t15.0099\n', '2010\t\t308745538\t\t130000000000\t\t42.0011\n']

In [18]:
for i in new_census_cost:
  print(i)

﻿Source: https://www.genealogybranches.com/censuscosts.html

Census Year        Total Population        Census Cost        Average Cost Per Person

1790		3929214		44377		0.0113

1800		5308483		66109		0.0124

1810		7239881		178445		0.0246

1820		9633822		208526		0.0216

1830		12866020		378545		0.0294

1840		17069458		833371		0.0488

1850		23191876		1423351		0.0614

1860		31443321		1969377		0.0626

1870		38558371		3421198		0.0887

1880		50155783		5790678		0.1154

1890		62979766		11547127		0.1833

1900		76303387		11854000		0.1554

1910		91972266		15968000		0.1707

1920		105710620		25117000		0.2376

1930		122775046		40156000		0.3271

1940		131669275		67527000		0.5129

1950		151325798		91462000		0.6044

1960		179323175		127934000		0.7134

1970		203302031		247653000		1.0022

1980		226542199		1078488000		4.0076

1990		248718301		2492830000		10.0002

2000		281421906		4500000000		15.0099

2010		308745538		130000000000		42.0011