In [1]:
import random #importing python random

In [2]:
random.randint(0,9) #this generates one random integer between 0 and 9 both inclusive

8

## Print them in a 10 by 10 matrix neatly arranged like the following one space between each number

In [11]:
i=0;
j=0
for j in range(10):
  for i in range(10):
    num=random.randint(0,9);
    print(num,"",end="");
   
  print("\n",end="");

5 2 7 1 9 1 7 3 9 5
1 4 2 7 3 3 1 5 3 0
1 4 9 3 7 6 6 5 0 2
8 8 0 1 7 7 8 4 1 9
0 1 2 2 2 1 4 8 6 3
2 1 9 5 2 3 7 7 2 5
4 1 4 3 3 2 7 9 1 1
1 5 1 1 1 1 8 2 7 1
0 1 2 5 8 3 4 0 9 4
0 0 9 7 0 3 3 2 5 4

## If the random number is an odd number, print "@" instead.

In [13]:
i=0;
j=0
for j in range(10):
  for i in range(10):
    num=random.randint(0,9);
    if(num%2!=0):# odd check
      num="@";
    else:
      num=num;
    print(num,"",end="");
   
  print("\n",end="");

2 @ @ 6 @ @ 8 @ @ 2
@ @ 6 4 8 2 @ @ @ 6
4 @ 4 2 @ @ 2 @ 2 8
8 @ 6 2 6 @ 2 @ @ @
2 8 0 @ 2 @ @ 0 @ @
@ 2 0 @ @ @ @ 0 @ @
@ 4 0 @ @ @ @ @ @ 4
@ @ 2 @ 2 2 8 2 8 0
0 @ 6 8 @ @ @ @ @ @
8 @ 6 @ 2 6 @ 8 @ @

## Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [14]:
sum=0;
for j in range(10):
  
  for i in range(10):
    num=random.randint(0,9);
    
    print(num,"",end="");
    sum = sum + num;
  
  print("*",sum); 
  sum=0;
print("\n");

8 8 9 1 0 1 7 1 0 0 * 35
2 6 5 6 0 3 8 3 6 1 * 40
0 3 8 1 6 7 0 2 5 9 * 41
2 9 3 0 4 2 2 3 5 0 * 30
8 8 9 5 7 7 3 2 1 7 * 57
4 3 9 0 8 6 3 4 9 6 * 52
2 1 6 7 9 3 1 7 6 3 * 45
5 7 7 9 0 9 0 2 7 7 * 53
0 7 3 3 2 3 5 2 0 6 * 31
4 5 4 2 0 2 8 4 2 2 * 33